:root {
    --background: #171717;
    --header-background: rgba(255, 255, 255, 0.757);
    --text-color: rgb(255, 255, 255);
    --label-color: #00ff41;
    --placeholder-color: rgb(136, 136, 153);
    --offset-color: #171717;
    --action-color: #008f11;

    --primary-font: monospace, 'Rubik', Corbel, 'Lucida Grande', 'Lucida Sans Unicode',
        'Lucida Sans', 'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana,
        'Verdana Ref', sans-serif;
}

body {
    height: 100vh;
    font-family: var(--primary-font);
    color: var(--text-color);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

.page-header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.page-header .logo {
    height: 100%;
}

.page-header .title {
    color: black;
    text-align: center;
    font-size: 2em;
    font-weight: 800;
    flex-grow: 2;
}

.page-header nav {
    display: flex;
    gap: 10px;
}

main {
    padding: 20px;
}

.avatar {
    height: 36px;
    width: 36px;
    object-fit: cover;
    border: 1px solid var(--placeholder-color);
    border-radius: 100%;
}

.error {
    min-height: 1em;
    color: red;
}

.hidden {
    display: none;
}

.logo-bracket {
    color: rgb(106, 0, 0);
}

.logo-turing {
    color: rgb(93, 93, 93);
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

button {
    background-color: #ffffff;
    border: 4px solid #555555;
    color: black;
    padding: 14px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: monospace;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #555555;
    color: white;
}
